<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <!-- Section: Timeline -->
          <section class="py-5">
            <ul class="timeline-with-icons">
              <li class="timeline-item mb-5">
                <span class="timeline-icon">
                  <i class="fas fa-rocket text-primary fa-sm fa-fw"></i>
                </span>

                <h5 class="fw-bold">Our company starts its operations</h5>
                <p class="text-muted mb-2 fw-bold">11 March 2020</p>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                  necessitatibus adipisci, ad alias, voluptate pariatur officia
                  repellendus repellat inventore fugit perferendis totam dolor
                  voluptas et corrupti distinctio maxime corporis optio?
                </p>
              </li>

              <li class="timeline-item mb-5">

                <span class="timeline-icon">
                  <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">First customer</h5>
                <p class="text-muted mb-2 fw-bold">19 March 2020</p>
                <p class="text-muted">
                  Quisque ornare dui nibh, sagittis egestas nisi luctus nec. Sed
                  aliquet laoreet sapien, eget pulvinar lectus maximus vel.
                  Phasellus suscipit porta mattis.
                </p>
              </li>

              <li class="timeline-item mb-5">

                <span class="timeline-icon">
                  <i class="fas fa-users text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">Our team exceeds 10 people</h5>
                <p class="text-muted mb-2 fw-bold">24 June 2020</p>
                <p class="text-muted">
                  Orci varius natoque penatibus et magnis dis parturient montes,
                  nascetur ridiculus mus. Nulla ullamcorper arcu lacus, maximus
                  facilisis erat pellentesque nec. Duis et dui maximus dui aliquam
                  convallis. Quisque consectetur purus erat, et ullamcorper sapien
                  tincidunt vitae.
                </p>
              </li>

              <li class="timeline-item mb-5">

                <span class="timeline-icon">
                  <i class="fas fa-money-bill-wave text-primary fa-sm fa-fw"></i>
                </span>
                <h5 class="fw-bold">Earned the first million $!</h5>
                <p class="text-muted mb-2 fw-bold">15 October 2020</p>
                <p class="text-muted">
                  Nulla ac tellus convallis, pulvinar nulla ac, fermentum diam. Sed
                  et urna sit amet massa dapibus tristique non finibus ligula. Nam
                  pharetra libero nibh, id feugiat tortor rhoncus vitae. Ut suscipit
                  vulputate mattis.
                </p>
              </li>
            </ul>
          </section>
          <!-- Section: Timeline -->
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

  </body>
</html>
